@using MneLabMVC.Models.Entitys
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<RaporlarTBL>
@{
    ViewBag.Title = "OnayladimRaporlar";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<html>

<head>
    <title>RaporGörüntüle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    <div>
        <h2>Onayladığım Raporlar</h2>

    </div>
    <br />

    <table class="table table-responsive-sm">
        <tr class="w3-light-grey w3-hover-red">
            <th>Rapor ID</th>
            <th>Rapor Türü</th>
            <th>Rapor No</th>
            <th>Rapor Düzenlenme Tarihi</th>
            <th>Laboratuvar</th>
            <th>Rapor Çıkaran Personel</th>
            <th>Rapor Sahibi </th>




        </tr>



        @foreach (var rap in Model)
        {

            <tr class="w3-hover-blue">
                <td>@rap.RaporID</td>
                <td>@rap.RaporTurTBL.RaporTur</td>
                <td>@rap.RaporNo</td>
                <td>@Convert.ToDateTime(rap.RaporDuzenTarih).ToShortDateString()</td>
                <td>@rap.LaboratuvarlarTBL.LabKodu</td>
                <td>@rap.PersonellerTBL.PersonelAd &nbsp @rap.PersonellerTBL.PersonelSoyad</td>
                <td>@rap.NumunelerTBL.NumuneAd &nbsp @rap.NumunelerTBL.NumuneSoyad</td>







            </tr>

        }

    </table>

    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
    <a href="/Rapor/RaporEkle" class="btn btn-primary">Rapor Ekle</a>
    <a href="/Personel/OnayladıimRaporYazdir/@Session["PersonelID"].ToString()" style="margin-left:50px" class="btn btn-danger">Liste Yazdır</a>
</body>

</html>