@model MneLabMVC.Models.Entitys.PersonellerTBL
@{
    ViewBag.Title = "ProfilGunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<!DOCTYPE html>
<html>

<head>
    <title>MNE LAB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>
    <br />
    <br />
    <br />
    @using (Html.BeginForm("ProfilGuncelle", "Anasayfa", FormMethod.Post))
    {

        <h2 class="w3-center">Profilim</h2>

        <div class="w3-row w3-section">

            <div class="w3-rest">
                <label>Mail Adresiniz</label>
                @HttpContext.Current.User.Identity.Name
            </div>
        </div>



        <div class="w3-row w3-section">

            <div class="w3-rest">
                <label>Personel Ad</label>
                @Html.TextBoxFor(x => x.PersonelAd, new { @class = "w3-input w3-border" })
            </div>
        </div>

        <div class="w3-row w3-section">

            <div class="w3-rest">
                <label>Personel Soyad</label>
                @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "w3-input w3-border" })
            </div>
        </div>
        <div class="w3-row w3-section">

            <div class="w3-rest">
                <label>Personel Türünüz</label>
                @Html.DropDownListFor(x => x.PersonelTurTBL.PersonelTurID, (List<SelectListItem>)ViewBag.dgrtur, "Personel Türünüzü Seçin", new { @class = "form-control" })
            </div>
        </div>



        <div class="w3-row w3-section">

            <div class="w3-rest">
                <label>Çalıştınız Laboratuvar</label>
                @Html.DropDownListFor(x => x.LaboratuvarlarTBL.LabID, (List<SelectListItem>)ViewBag.dgrlab, "Çalıştınız Laboratuvarı Seçin", new { @class = "form-control" })
            </div>
        </div>


        <div class="w3-row w3-section">

            <div class="w3-rest">
                <label>Personel Kullanıcı Adı</label>
                @Html.TextBoxFor(x => x.KullanıcıAdi, new { @class = "w3-input w3-border" })
            </div>
        </div>


        <div class="w3-row w3-section">

            <div class="w3-rest">
                <label>Personel Şifre</label>
                @Html.TextBoxFor(x => x.Sifre1, new { @class = "w3-input w3-border" })
                @Html.ValidationMessageFor(model => model.Sifre1, "", new { @class = "text-danger", @style = "color:red" })
            </div>
        </div>


        <div class="w3-row w3-section">

            <div class="w3-rest">
                <label>Personel Şifre Tekrar</label>
                @Html.TextBoxFor(x => x.Sifre2, new { @class = "w3-input w3-border" })
                @Html.ValidationMessageFor(model => model.Sifre2, "", new { @class = "text-danger", @style = "color:red" })
            </div>
        </div>





        <button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Bilgilerimi Güncelle</button>



    }





</body>
</html>